.userInfo {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  max-width: 359px;
  overflow: hidden;
  opacity: 1;
  height: auto;
}

.contactsInfo {
    display: block;
    unicode-bidi: isolate;
}


.infoHeader {
    font-weight: 100;
    font-size: 13px;
}

