.userName {
  display: grid;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-color: #d4d8e2cd;
}

.accountName {
  font-size: 14px;
  margin: 0;
  color: #325581;
  margin-bottom: 5px;
}

.bio {
    margin: 0;
    padding: 0;
    font-size: 11px;
}