.modalBtn {
  border-style: none;
  background: transparent;
  color: var(--color-sidebar-hover);
  font-size: 11px;
  padding-right: 10px;
  cursor: pointer;
  transition: ease-out 0.2s;
  &:hover {
    color: var(--color-white);
  }
  
  &:global(.option) {
    color: var(--color-primary-hover);
    &:hover {
        color: var(--color-blue-300)
    }
  }
  
}
