.accountTitle {
  background-color: var(--color-sidebar-hover);
}

.pageTitle {
  display: flex;
  padding-left: 10.5px;
  color: #546b87;
  font-size: 11px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
