.inputsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 590px;
  padding: 10px 5px 10px 5px;
}
.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  background-color: white;
  width: 100%;
  height: 100%;
  .authInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    .authInputLabel {
      color: #517398;
      font-size: 13px;
      font-weight: 600;
    }
  }
  .authButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
    align-self: center;
    .auth {
      padding: 10px;
      font-size: 11px;
    }
    .option {
      color: var(--color-blue-100);
      font-size: 10px;
      &:hover {
        color: var(--color-primary-hover)
      }
    }
  }
}
