.auth {
    max-width: 270px;
    max-height: 400px;
}

.username-input {

}

.authorization-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}

.input-block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-left: 11px;
    width: 100%;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
    align-self: center;
}

.auth-input {
    display: flex;
}

.auth-file {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

