.mainSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  .appWorkSpace {
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #d4d8e2;
    width: 100%;
    max-width: 599px;
    min-width: 220px;
  }

  @media (max-width: 616px) {
    .appWorkSpace {
      max-width: 220px;
    }
  }
}
