   .hidden {
      display: none;
    }

    .default-label {
      color: #517398;
      font-size: 13px;
      font-weight: 600;
    }

    body {
      font-family: Tahoma, Arial, sans-serif;
    }

    .vk-com-main-page {
      display: grid;
      place-items: center;
    }

    ul {
      list-style-type: none;
      font-size: 14px;
    }

    a {
      text-decoration: none;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .error-message {
      display: flex;
      flex-wrap: wrap;
      opacity: 0;
      color: red;
      font-size: 10px;
      margin-block: 1px;
      transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    }

    .is-error {
      opacity: 1;
    }

    

    .no-opacity {
      opacity: 0;
      font-size: 10px;
      margin-block: 4px;
    }
