.mp3Header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #F0F0F0;
    align-items: stretch;
    padding-inline: 10px;
    padding-block: 10px;
    justify-content: space-between;
}