.spoilerBtn {
  height: 100%;
  margin-block: 5px;
  display: block;
  font-size: 11px;
  color: var(--color-blue-100);
  width: 100%;
  background-color:var(--color-white);
  padding: 10px;
  text-align: center;
  border-style: none;
  cursor: pointer;
  &:hover {
    background-color: var(--color-sidebar-hover);
  }
}
